@import url(<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>);

body {font-family: Roboto, sans-serif; margin:auto;}

.Navigation{
    position: fixed;
    top:0;
    left:0;
    background: darkgreen;
    border-bottom: 2px solid white;
    height: 70px;
    width: 100%;
   }
 
 a.Nav_Bar:link { color: white;}
 a.Nav_Bar:active { color:  white; }
 a.Nav_Bar:visited{ color:  white;}
 a.Nav_Bar:hover { color: white;}

a.Back_Home:link{color:darkgreen;}
a.Back_Home:active{color:darkgreen;}
a.Back_Home:visited{color: darkgreen;}
a.Back_Home:hover{color:darkgreen;}
a{text-decoration: none;}
ul {
     list-style-type: none;
     
  }
/*
li{
    color:darkgreen;
}
*/
#nav_bar li {
      font-family: Roboto; serif; 
/*      font-size: 12px;*/
      display: inline;
      padding:  0em 0.5em 0em 0.5em;
    
}
       

/*
li {
      font-size: 12px;
      display: inline;
      padding:  0em 0.5em 0em 0.5em;
  
    }
*/

#hero {
/*    background: url(../images/zebra-hero.jpg) no-repeat top left;*/
/*    color: #fafafa;*/
    text-align: center;
/*    height: 350px;*/
    padding: 7.5em 0 1.5em 0;
    background-size: cover;
    font-size: 14px;
/*    img:hover { color: darkgreen;}*/
}
#hero img{
    border-radius: 40px;
    transition-duration: 5s;
}

    
h1 {
      margin: 0.5% 0% 0.5% 0%;
      color: darkgreen;
      text-align: center;
      font-family: Roboto; serif; 
      font-size: 2em; 
    }
h2 {
/*    margin-top: 0.05%;*/
       font-family: Roboto; serif; 
       color: darkgreen;
    }
#content{
    font-family: Roboto; serif;
    text-align: left;
    padding: .5em;
}
.header{
    margin-top: 0.05%;
    display: inline;
    padding: 0% 5% 0% 5%;
    text-align: center;
}
.photos{
    padding: 1em;
    text-align: left;
}
/*p{padding: .5em;}*/

/*
.container {
    width: 100%; 
    margin: 0 auto;
}
*/
#answers .text{
   display: none;
/*   visibility: hidden;*/
}
#answers:hover .text{
    display: block;
    visibility: visible;
    
}
#social {
    background: darkgreen;
    color: #fafafa;
    padding: 25px 0;
    overflow: hidden;
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
}
 a.Email:link { color: darkgreen;}
 a.Email:active { color:  darkgreen; }
 a.Email:visited{ color: darkgreen;}
 a.Email:hover { color: darkgreen;}

.column {
    float: left;
    width: 30%;
    padding: 0.5em;
}
/*

.house_photo{
    text-align: center;
     padding: 1em;
     width: 100%;
    border-radius: 45px;
}
*/
#links{
    font-family: Roboto; serif;
/*    text-align: center;*/
    padding: 1em;
}
