
body {font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; margin:5%;}

.Navigation{
    float: left;
    margin: -6%;  
    background-color: darkgreen;    
   }
 
 a.Nav_Bar:link { color: white;}
 a.Nav_Bar:active { color:  white; }
 a.Nav_Bar:visited{ color:  white;}
 a.Nav_Bar:hover { color: white;}
/*
ul {
     color: white;
   background-color: darkgreen;
  }
*/
#nav_bar li {
      font-size: 12px;
      display: inline;
      padding:  0em 0.5em 0em 0.5em;
    
}
       
/*
li {
      font-size: 12px;
      display: inline;
      padding:  0em 0.5em 0em 0.5em;
  
    }
*/
p{
    margin: auto 0;
    text-align: left;
    }
    
h1 {
      margin: 0.5% 0% 0.5% 0%;
      color: white;
      background-color: darkgreen;
      text-align: center;
      font-size: 2em; 
    }
h2 {
/*    margin-top: 0.05%;*/
       color: darkgreen;
    }

.header{
    margin-top: 0.05%;
    display: inline;
    padding: 0% 5% 0% 5%;
    text-align: center;
}
.photos{
    padding: 1em;
    text-align: left;
}

