/*Mr.Roboto font, Jackie isn't a fan. @import url(<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>);*/

body {font-family: Georgia, sans-serif; margin:auto;}

.Navigation{
    position: fixed;
    top:0;
    left:0;
    background: darkgreen;
    border-bottom: 2px solid white;
    height: 8%;
    width: 100%;
   }
 
a.Nav_Bar:link, a.Nav_Bar:active,a.Nav_Bar:visited,a.Nav_Bar:hover { color: white;}
a.Back_Home:link, a.Back_Home:active, a.Back_Home:visited, a.Back_Home:hover{color:darkgreen;}
a{text-decoration: none;}

ul 
{
     list-style-type: none;
     
}

#nav_bar li 
{
/*      font-family: Roboto; sans-serif; */
      font-size: 1em;
      display: inline;
      padding:  0em 0.5em 0em 0.5em;
    
}

#hero 
{
    text-align: center;
    padding: 7.5em 0 1.5em 0;
    background-size: cover;
    font-size: 1em;
}

#hero img
{
    border-radius: 10%;
    transition-duration: 5s;
}

    
h1 
{
      margin: 0.5% 0% 0.5% 0%;
      color: darkgreen;
      text-align: center;
/*      font-family: Roboto; serif; */
      font-size: 2em; 
    }
h2
{
/*       font-family: Roboto; serif; */
       color: darkgreen;
    }
#content
{
/*    font-family: Roboto; serif;*/
    font-size: 1em;
    text-align: left;
    padding: 5%;
}
.header
{
    margin-top: 0.05%;
    display: inline;
    padding: 0% 5% 0% 5%;
    text-align: center;
}
.photos
{
    padding: 1em;
    text-align: left;
}

button.accordion {
    background-color: white;
/*    color: #444;*/
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
/*for mobile, make background color darkgreen*/
button.accordion.active, button.accordion:hover {
/*    background-color: #08aa6b;*/
    background-image: url(images/backyard.jpg);
}

h2.acc:visited, h2.acc:active, h2.acc:hover{color:white;}

button.accordion:after {
    content: '\002B';
    color: darkgreen;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.answers {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#social 
{
    background: darkgreen;
    color: #fafafa;
    padding: 5% 0;
    overflow: hidden;
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
}
 a.Email:link, a.Email:active,a.Email:visited, a.Email:hover { color: darkgreen;}

/*for the about page and links page, we will use columns. These will stack for mobile,
but change layout for desktop*/
.column 
{
   width: 100%;
}

#links{
/*    font-family: Roboto; serif;*/
    padding: 1em;
}
@media screen and  (min-width: 600px){
    .column{
        float: left;
        width: 30%;
        padding: 15px;
    }
}
@media screen and (max-device-width:960px){
    .column{
        width: 100%;
    }
    img {
        padding: 5%;
    }
}
